@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Source+Code+Pro:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.type-ui {
  @apply text-lg font-semibold;
}

a:hover {
  opacity: 0.66;
}

.button-lg {
  @apply px-6 py-1 rounded-xl h-14 type-ui flex items-center justify-center;
}

ul li {
  @apply pl-2
}

#team a {
  @apply font-medium border-b
}

#heroVideo {
  }